(
	name: "meson",
	version: "0.63.1",
	repo: "core",
	source: "https://github.com/mesonbuild/meson/releases/download/0.63.1/meson-0.63.1.tar.gz",
	is_group: false,
	no_source: false,
	deps: [],
	mkdeps: [],
	extras: [],
)