(
	name: "expect",
	version: "5.45.4",
	repo: "core",
	source: "https://prdownloads.sourceforge.net/expect/expect5.45.4.tar.gz",
	is_group: false,
	no_source: false,
	deps: [
		"tcl",
	],
	mkdeps: [],
	extras: [],
)