(
	name: "ypm",
	version: "0.0.2-alpha",
	repo: "core",
	source: "https://github.com/AVS-Origami/ypm/archive/refs/tags/v0.0.2-alpha.tar.xz",
	is_group: false,
	no_source: false,
	deps: [
		"wget",
	],
	mkdeps: [
		"rust",
	],
	extras: [],
)