(
	name: "dejagnu",
	version: "1.6.3",
	repo: "core",
	source: "https://ftp.gnu.org/gnu/dejagnu/dejagnu-1.6.3.tar.gz",
	is_group: false,
	no_source: false,
	deps: [
		"expect",
	],
	mkdeps: [],
	extras: [],
)