(
	name: "psmisc",
	version: "23.5",
	repo: "core",
	source: "https://sourceforge.net/projects/psmisc/files/psmisc/psmisc-23.5.tar.xz",
	is_group: false,
	no_source: false,
	deps: [],
	mkdeps: [],
	extras: [],
)